@import "../_variables.scss";


:host {
  font-size: larger;
  height: $header-height;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  i {
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
