<div class="container col-12">
  <h5 class="mt-3">
    <i18n key="Documents.List.Title" default="Documents"></i18n>
  </h5>
  <div class="spinner-container">
    <div class="container col-md-12 mr-auto ml-0 pl-0">
      <div class="form-row">
        <div class="form-group col-5 col-lg-3">
          <label for="provider"><i18n key="Documents.List.Provider" default="Provider"></i18n></label>
          <ng-select class="sm"
                     [items]="providers"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="filter.translationProviderId"
                     labelForId="provider">
          </ng-select>
        </div>
        <div class="form-group col-5">
          <label for="project"><i18n key="Documents.List.Project" default="Project"></i18n></label>
          <ng-select class="sm"
                     [items]="projects$ | async"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="filter.projectId"
                     [typeahead]="projectTerms"
                     [loading]="isProjectsLoaging"
                     labelForId="project">
          </ng-select>
        </div>
        <div class="form-group col-5 col-lg-3">
          <label for="document"><i18n key="Documents.List.Document" default="Document"></i18n></label>
          <ng-select class="sm"
                     [items]="documents$ | async"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="filter.documentId"
                     [typeahead]="documentTerms"
                     [loading]="isDocumentsLoaging"
                     labelForId="document">
          </ng-select>
        </div>
        <div class="form-group col-3">
          <label for="sourceLang">
            <i18n class="d-none d-sm-block" key="Documents.List.SourceLanguage" default="Source Language"></i18n>
            <i18n class="d-sm-none" key="Documents.List.Source" default="Source"></i18n>
          </label>
          <ng-select class="sm"
                     [items]="languages"
                     bindLabel="acronym"
                     bindValue="id"
                     [(ngModel)]="filter.sourceLanguageId"
                     labelForId="sourceLang">
          </ng-select>
        </div>
        <div class="form-group col-3 col-lg-2">
          <label for="targetLanguage">
            <i18n class="d-none d-sm-block" key="Documents.List.TargetLanguage" default="Target Language"></i18n>
            <i18n class="d-sm-none" key="Documents.List.Target" default="Target"></i18n>
          </label>
          <ng-select class="sm"
                     [items]="languages"
                     bindLabel="acronym"
                     bindValue="id"
                     [(ngModel)]="filter.targetLanguageId"
                     labelForId="targetLanguage">
          </ng-select>
        </div>
        <div class="form-group col-3 col-lg-2">
          <label for="orderByField">
            <i18n key="Documents.List.OrderByFields" default="Order By"></i18n>
          </label>
          <ng-select class="sm"
                     [items]="orderByFields"
                     bindLabel="name"
                     bindValue="value"
                     [(ngModel)]="filter.documentOrderByField"
                     labelForId="orderByField">
          </ng-select>
        </div>
        <div class="form-group col-auto">
          <label for="IsOrderByDescending">
            <i18n key="Documents.List.Descending" default="Descending"></i18n>
          </label>
          <div class="custom-control custom-switch text-center">
            <input type="checkbox"
                   class="custom-control-input"
                   id="IsOrderByDescending"
                   [(ngModel)]="filter.isOrderByDescending"
                   name="IsOrderByDescending">
            <label class="custom-control-label" for="IsOrderByDescending">
              &nbsp;
            </label>
          </div>
        </div>
        <div class="form-group col-auto">
          <label for="failedDocumentsOnly">
            <i18n key="Documents.List.FailedDocumentsOnly" default="Failed"></i18n>
          </label>
          <div class="custom-control custom-switch text-center">
            <input type="checkbox"
                   class="custom-control-input"
                   id="failedDocumentsOnly"
                   [(ngModel)]="filter.failedDocumentsOnly"
                   name="failedDocumentsOnly">
            <label class="custom-control-label" for="failedDocumentsOnly">
              &nbsp;
            </label>
          </div>
        </div>
        <div class="form-group col-auto">
          <label for="benchmarkFailedDocumentsOnly">
            <i18n key="Documents.List.BenchmarkFailedDocumentsOnly" default="Benchmark Failed"></i18n>
          </label>
          <div class="custom-control custom-switch text-center">
            <input type="checkbox"
                   class="custom-control-input"
                   id="benchmarkFailedDocumentsOnly"
                   [(ngModel)]="filter.benchmarkFailedDocumentsOnly"
                   name="benchmarkFailedDocumentsOnly">
            <label class="custom-control-label" for="benchmarkFailedDocumentsOnly">
              &nbsp;
            </label>
          </div>
        </div>
        <div class="form-group col-md-1 col-sm-2">
          <label>&nbsp;</label><br />
          <button class="btn btn-sm btn-outline-primary btn-block" (click)="gotoPage(1)">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="form-group col-1">
          <label>&nbsp;</label><br />
          <button class="btn btn-sm btn-outline-primary" (click)="export()" i18nTitle="Documents.List.Export" default="Export">
            <i class="fa fa-download"></i>
          </button>
        </div>
      </div>
    </div>
    <table class="table table-sm table-hover mt-2 small">
      <thead class="thead-light">
        <tr>
          <th class="text-center"><i18n key="QaSummary.Documents.Id" default="Id"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.Project" default="Project"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.Document" default="Document"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.SourceLanguage" default="Source Language"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.Model" default="Model"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.WordsCount" default="Words"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.TranslationsWordsCount" default="Translations Words"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.IssuesCount" default="Issues"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.TranslationsCount" default="Translations"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.FailedTranslations" default="Failed Translations"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.BenchmarkFailedTranslationsCount" default="Benchmark Failed Translations"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.PointSum" default="Points"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.BenchmarkPointSum" default="Benchmark Points"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.Pass" default="Pass"></i18n></th>
          <th class="text-center"><i18n key="QaSummary.Documents.BenchmarkPass" default="Benchmark Pass"></i18n></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of documents">
          <td>{{item.documentId}}</td>
          <td class="break-all">
            <a [routerLink]="['/projects', item.projectId]">
              {{item.project}}
            </a>
          </td>
          <td class="break-all">
            <a [routerLink]="['/projects', item.projectId, 'documents', item.documentId]">
              {{item.document}}
            </a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/languages', item.sourceLanguageId]">
              {{item.sourceLanguage}}
            </a>
          </td>
          <td>
            <a *ngIf="item.qaModelId" [routerLink]="['/qa-models', item.qaModelId]">
              {{item.qaModel}}
            </a>
          </td>
          <td class="text-center">{{item.wordsCount | userNumber: '1.0-0' | async}}</td>
          <td class="text-center">{{item.translationsWordsCount | userNumber: '1.0-0' | async}}</td>
          <td class="text-center text-underline clickable" (click)="navigateToIssues(item.documentId)">{{item.issuesCount | userNumber: '1.0-0' | async}}</td>
          <td class="text-center text-underline clickable" (click)="navigateToTranslations(item.documentId)">{{item.translationsCount | userNumber: '1.0-0' | async}}</td>
          <td class="text-center"
              (click)="navigateToFailedTranslations(item)"
              [ngClass]="{'clickable text-danger text-underline': item.invalidTranslationsCount}">
            {{item.invalidTranslationsCount | userNumber: '1.0-0' | async}}
          </td>
          <td class="text-center"
              (click)="navigateToBenchmarkFailedTranslations(item)"
              [ngClass]="{'clickable text-danger text-underline': item.benchmarkInvalidTranslationsCount}">
            {{item.benchmarkInvalidTranslationsCount | userNumber: '1.0-0' | async}}
          </td>
          <td class="text-center">{{item.pointSum | userNumber: '1.0-2' | async}}</td>
          <td class="text-center">{{item.benchmarkPointSum | userNumber: '1.0-2' | async}}</td>
          <td class="text-underline text-center text-success" [ngClass]="{'text-danger': !item.isValid}">
            <div [tooltip]="tooltip"
                 [isDisabled]="!item.qaModelId"
                 containerClass="light"
                 class="clickable">
              {{item.isValid === null ? '' : item.isValid ? 'Pass' : 'Failed'}}
            </div>
            <ng-template #tooltip>
              <qa-model-tooltip [data]="item.tooltipData"></qa-model-tooltip>
            </ng-template>
          </td>
          <td class="text-underline text-center text-success" [ngClass]="{'text-danger': item.isBenchmarkValid === false}">
            <div [tooltip]="benchmarkTooltip"
                 containerClass="light"
                 class="clickable">
              {{item.isBenchmarkValid !== false ? 'Pass' : 'Failed'}}
            </div>
            <ng-template #benchmarkTooltip>
              <qa-model-tooltip [data]="item.benchmarkTooltipData"></qa-model-tooltip>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <qiq-pagination [totalRows]="totalRows"
                           [filter]="filter"
                           (pageChanged)="gotoPage($event)">
    </qiq-pagination>
    <spinner [isVisible]="isBusy"></spinner>
  </div>
</div>
